// aboutme section style
.aboutMe{
    text-align: center;
    height: 30vh;
    margin-bottom: 50px;
    h2{
        color: $contactColor;
        margin-top: 80px;
        margin-bottom: 10px;
    }
    P{
        z-index: 0;
        margin-top: 0;
        max-width: 50%;
        position: relative;
        left: 25%;
        line-height: 28px;
    }
}

// skill section style

.skills{
    padding-top: 30px;
    padding-bottom: 80px;
    background: $skillColor;
    h2{
        color: $iconColor;
    }
    ul{
        text-align: center;
        display: flex;
        justify-content: space-around;
        i{
            font-size: 4rem;
            &:hover{
                color: $buttonColor;
            }
        }
    }
}

// projects section

.projects{
    width: 100vw;
    background: $aboutColor;
    h2{
        margin: 0;
        padding-top: 80px;
        padding-bottom: 60px;
        color: $iconColor;
    }
}

.projectFlex1{
    display: flex;
    justify-content: center;
    border-bottom: #fff solid 3px;
    .imgContainer{
        width: 40%;
    }
    .projectContent1{
        margin-top: 70px;
        width: 40%;
        h3{
            color: $iconColor;
        }
        p, h3{
            margin: 0;
        }
        p:nth-of-type(1){
            color: $headerColor;
            margin-top: 5px;
        }
        p:nth-of-type(2){
            margin-top: 20px;
            line-height: 25px;
        }

        ul{
            display: flex;
            margin-top: 25px;
            padding-bottom: 20px;
            li{
                margin-right: 10px;
                a{
                    @include anchorStyles();
                }
            }
        }
    }
}

.projectFlex2 {
    display: flex;
    justify-content: center;
    text-align: right;
    padding-bottom: 60px;

    .imgContainer {
        width: 40%;
    }

    .projectContent2 {
        margin-top: 90px;
        width: 40%;
    
        h3 {
            color: $iconColor;
        }
    
        p,
        h3 {
            margin: 0;
        }
    
        p:nth-of-type(1) {
            color: $headerColor;
            margin-top: 5px;
        }
    
        p:nth-of-type(2) {
            margin-top: 20px;
            line-height: 25px;
        }
    
        ul {
            display: flex;
            margin-top: 25px;
            position: absolute;
            right: 49.4%;
    
            li {
                margin-right: 10px;
    
                a {
                    @include anchorStyles();
                }
            }
        }
    }
}


// get in touch section style

.contact{
    .wrapper{
        width: 50%;
        max-width: 600px;
    }
    background: $contactColor;
    h2{
        margin: 0;
        color: $aboutColor;
        padding-top: 80px;
    }

    ul{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        li{
            margin-right: 15px;
            i{
                color: $buttonColor;
                font-size: 1.3rem;
                &:hover{
                    animation: jump 800ms infinite;
                }
            }
        }
    }

    p{
        color: $aboutColor;
        line-height: 30px;
        text-align: center;
    }

    label{
        color: $aboutColor;
        text-transform: uppercase;
        font-family: $bodyFont;
       
    }
    input,textarea{
        width: 100%;
    }

    input{
        padding: 10px;
        margin-bottom: 15px;
    }
    textarea{
        padding-left: 10px;
    }

    button{
        position: relative ;
        left: 35%;
        margin-top: 20px;
        margin-bottom: 80px;
        transition: scale 200ms linear;
        &:hover{
            scale: (1.3);
        }    }

}

// get in touch icon animation 
@keyframes jump {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-8px);
    }

    100%{
        transform: translateY(0);
    }
}



