// colors
$iconColor: #472d30;
$headerColor: #ede0d4;
$contactColor: #ffe1a8;
$skillColor: #c9cba3;
$aboutColor: #6f1d1b;
$buttonColor: #e26d5c;

// font family 

$headingFont: "Playfair Display", serif;
$bodyFont: "Source Sans Pro", sans-serif;