// colors
$iconColor:#2a3033;
$headerColor:#424b6d;
$contactColor: #5169b0;
$skillColor:#b4b3db;
$aboutColor:#f2f4f5;
$buttonColor:#eeaf98;

// font family 

$headingFont: "Playfair Display", serif;
$bodyFont: "Source Sans Pro", sans-serif;

